<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Outside Gain Network Environment settings-->
    <add key="domain" value="ciapi.cityindex.com"/>
    <add key="transport" value="http:"/>
    <add key="defaultUser1" value="dm709822"/>
    <add key="passwordUser1" value="password"/>
    <!--Settings for other cases
    
    <add key="domain" value="PKH-DEV-MERC1"/>
    <add key="transport" value="http:"/>
    <add key="defaultUser1" value="dm241228"/>
    <add key="passwordUser1" value="password"/>
    -->
  </appSettings>
</configuration>